doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title This is the about page
  body
    h1 About Page
    a(href="/index") Home
    a(href="/contact") Contact
    .card Card
      .card__title Titulo