extends templates/layout.pug

block menu
  nav.main__menu
    a.main__link.active(href="/") Home
    a.main__link(href="/about") About
    a.main__link(href="/contact") Contact

block prepend content
  h2.content__title The Home Page