doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Simple Webpack Boilerplate | By Angel salvador
  body
  main.main
      h1.main__title SIMPLE WEBPACK BOILERPLATE
      small.main__subtitle By Angel Salvador
      block menu
      .content
        block content
          p.content__desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim suscipit eos amet tenetur quam, atque commodi ad ullam animi, ipsum accusantium optio impedit eligendi dolorum explicabo saepe ea! Incidunt, sit?